<!DOCTYPE html>
<html>
  <head>
    <%= yield :meta %>
    <title><%= yield :title %></title>
    <meta property="og:image" content="https://consiliumdata.herokuapp.com/assets/logo-99cd7e9c67770a19adf62b3a9e0b3046ef21b8550cc158dcfe7dbe5b4a19438d.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="mt-5 pt-5">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
